* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh ;
}

.square {
    width: 100px;
    height: 100px;
    margin: 100px;
    background: red;
}

button {
    width: 60px;
}